* {
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.7;
}

.container {
  padding: 20px;
  display: grid;
  background-color: #f0f0f0;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  grid-template-rows: 100px 2fr 100px;
  gap: 20px;
  grid-template-areas:
    "header header header"
    "section section aside"
    "footer footer footer";
}

/*--------------Change Color Mode-----------*/

.container.dark-mode {
  background-color: #7f7f7f;
  color: white;
}

.container.dark-mode header,
.container.dark-mode aside,
.container.dark-mode section,
.container.dark-mode footer,
.container.dark-mode .nav:link,
.container.dark-mode .nav:visited{
  background-color: #212121;
  color: white;
}

.container.dark-mode .opcion-content{
    background-color: #2e2d2d;
}
.container.dark-mode .tx-copy{
    color: black;
}

a { 
  text-decoration: none;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}
/*--------------------------*/
header {
  background-color: white;
  grid-area: header;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1) !important;
}

.header-content {
  display: flex;
  justify-content: space-around;
}

.main-navigation {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mode-color {
  display: flex;
  align-items: center;
}
.menu-btn{
  display: none;
  align-items: center;
}


/*---------------------------------*/
aside {
  background-color: rgb(255, 255, 255);
  grid-area: aside;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1) !important;
  padding: 20px;
  height: 150px;
  position: sticky;
}

.index-menu {
  display: flex;
  justify-content: center;
}
/*--------------------------*/

section {
  background-color: white;
  border-radius: 10px;
  grid-area: section;
  box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1) !important;
  padding: 20px;
}

/*-------------------------*/
footer {
  background-color: white;
  grid-area: footer;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1) !important;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-navigation {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*---------------Img Perfil e iconos-------------------*/

.profile {
  width: 70px;
  border-radius: 50%;
  padding: 20px;
}

.home {
  position: fixed;
  width: 50px;
  height: 50px;
  color: black !important;
  bottom: 40px;
  right: 40px;
}

.linkedin {
  color: #0999a9 !important;
}

.github {
  color: black !important;
}

/*---------------Responsive-------------------*/
@media screen and (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "aside"
      "section"
      "footer";
  }

  .menu-btn{
    display: flex;
    align-items: center;
  }

  .main-navigation{
    display: none;
    flex-direction: column;
  }

  .container.change-menu{
    grid-template-rows: 10lh;
  }
  .container.change-menu .main-navigation{
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 55%;
  }

  .home {
    width: 30px;
    height: 30px;
  }
}
/*--------------menu inicio(opciones)-----------------*/
.opcion {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.opcion-content {
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1) !important;
}

/*---------------Botones y su contenedor-----------------*/
.highlight {
  background-color: #eaeaea;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  justify-content: space-between;
}

.highlight-copy-btn {
  position: relative;
  background-color: #7f7f7f;
  color: white;
  border: 0px;
  width: 70px;
  border-radius: 10px;
}

.highlight-copy-btn:active {
  background-color: rgb(50, 50, 56);
}
/*---------------Img-NaVegation-----------------*/

.img-nv {
  width: 90%;
  border: 1px solid;
  border-radius: 5px;
}

.img-nv--small {
  width: 50%;
}

/*----------btnModeColor------------*/

.ui-switch {
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}
